network-concurrency=1
fetch-timeout=300000
fetch-retries=5
fetch-warn-timeout-ms=30000
fetch-min-speed-kibps=1
prefer-frozen-lockfile=true
auto-install-peers=true

shared-workspace-lockfile=true
save-workspace-protocol=rolling
strict-peer-dependencies=false